@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 140 20% 97%;
    --foreground: 150 40% 6%;
    --card: 0 0% 100%;
    --card-foreground: 150 40% 6%;
    --popover: 0 0% 100%;
    --popover-foreground: 150 40% 6%;
    --primary: 152 69% 41%;
    --primary-foreground: 0 0% 100%;
    --secondary: 140 20% 95%;
    --secondary-foreground: 150 40% 6%;
    --muted: 140 20% 95%;
    --muted-foreground: 150 10% 45%;
    --accent: 140 20% 91%;
    --accent-foreground: 150 40% 6%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 145 20% 89%;
    --input: 145 20% 89%;
    --ring: 152 69% 41%;
    --chart-1: 152 69% 41%;
    --chart-2: 199 60% 49%;
    --chart-3: 43 74% 66%;
    --chart-4: 280 65% 60%;
    --chart-5: 12 76% 61%;
    --radius: 0.625rem;
    --success: 142 71% 45%;
    --success-foreground: 0 0% 100%;
    --warning: 38 92% 50%;
    --warning-foreground: 0 0% 100%;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 150 40% 6%;
    --sidebar-primary: 152 69% 41%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 140 20% 95%;
    --sidebar-accent-foreground: 150 40% 6%;
    --sidebar-border: 145 20% 89%;
    --sidebar-ring: 152 69% 41%;
  }
  .dark {
    --background: 150 30% 5%;
    --foreground: 140 20% 97%;
    --card: 150 30% 8%;
    --card-foreground: 140 20% 97%;
    --popover: 150 30% 8%;
    --popover-foreground: 140 20% 97%;
    --primary: 152 69% 41%;
    --primary-foreground: 0 0% 100%;
    --secondary: 150 25% 13%;
    --secondary-foreground: 140 20% 97%;
    --muted: 150 25% 13%;
    --muted-foreground: 150 10% 55%;
    --accent: 150 25% 16%;
    --accent-foreground: 140 20% 97%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 0 0% 100%;
    --border: 150 25% 16%;
    --input: 150 25% 16%;
    --ring: 152 69% 41%;
    --chart-1: 152 69% 41%;
    --chart-2: 199 60% 49%;
    --chart-3: 43 74% 66%;
    --chart-4: 280 65% 60%;
    --chart-5: 12 76% 61%;
    --success: 142 71% 45%;
    --success-foreground: 0 0% 100%;
    --warning: 38 92% 50%;
    --warning-foreground: 0 0% 100%;
    --sidebar-background: 150 30% 8%;
    --sidebar-foreground: 140 20% 97%;
    --sidebar-primary: 152 69% 41%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 150 25% 13%;
    --sidebar-accent-foreground: 140 20% 97%;
    --sidebar-border: 150 25% 16%;
    --sidebar-ring: 152 69% 41%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
